@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    align-items: center;
    justify-content: left;

}

.logo{
    font-size: 3rem;
    color: #ff0000;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: centerk;
    

}

.logo:hover{
    transform: scale(1.5);
}

nav a{
    font-size: 1.8rem;
    color: rgb(255, 0, 0);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    align-items: center;
}

nav a:hover,
nav a.active{
    color: red;
    border-bottom: 3px solid red;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #ff0000;
        border-bottom: 3px solid #ff0000;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #ff0000;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

span{
    color: #ff0000;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
    text-align: left;
    font-size: small;
    font-style:oblique;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 35vw;
    height: 34vw;
    border-radius: 60%;
    box-shadow: 0 0 25px solid #ff0000;
    cursor: pointer;
    transition: 0.2s linear;
    object-fit: cover;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #ff0000;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #00e5ff;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.9) translateY(-5px);
    background-color: #ff0000;
    box-shadow: 0  0 25px #ff0000;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ff0000;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #ff0000;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: red;
    color: black;
    box-shadow: 0 0 25px red;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
  
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Data Analyst";
    color: #00e5ff;
    animation: words 20s infinite;

}
.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid red;
    }
}

@keyframes words{
    0%, 50%{
        content: "Junior Data Analyst";
    }
    50%, 100%{
        content: "Web Developer";
    }
}
@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
/*Spinner cube the button  */
.spinner-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    position: relative;
    transform-style: preserve-3d;
    animation: spinner 1.8s linear infinite;
    vertical-align: middle;
  }
  
  .spinner-btn div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff0000;
    background: transparent;
    border: 1px solid #00f2ff;
    box-shadow: 0 0 4px #00f2ff;
    opacity: 0.8;
  }
  
  .spinner-btn div:nth-child(1) { transform: rotateY(0deg) translateZ(8px); }
  .spinner-btn div:nth-child(2) { transform: rotateY(90deg) translateZ(8px); }
  .spinner-btn div:nth-child(3) { transform: rotateY(180deg) translateZ(8px); }
  .spinner-btn div:nth-child(4) { transform: rotateY(-90deg) translateZ(8px); }
  .spinner-btn div:nth-child(5) { transform: rotateX(90deg) translateZ(8px); }
  .spinner-btn div:nth-child(6) { transform: rotateX(-90deg) translateZ(8px); }
  
  @keyframes spinner {
    0% {
      transform: rotateX(16deg) rotateY(1deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
